{% extends "theme/base.html" %}
{% load static %}

{% block tab_title %}Catalog{% endblock %}

{% block fullwidth-body %}
    <div class="bg-white">
        <div class="container py-5">
            <div class="row flex-lg-row-reverse align-items-center">
                <div class="col-lg-6">
                    <img src="{% static "assets/catalog-hero.jpg" %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">
                        Photogrammetry the easy way
                    </h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    {% if not user.is_authenticated %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a
                            href="{% url "signup" %}"
                            class="btn btn-primary btn-lg px-4 me-md-2">
                                Get started
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-5 row g-3">
        {% for project in projects %}
            <div class="col-xl-3 col-lg-4 col-md-6">
                {% include "catalog/components/item-card.html" with project=project %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static "js/model-viewer.min.js" %}"></script>
{% endblock %}
