{% extends "catalog/item-base.html" %}
{% load static %}

{% block tab_title %}Тыква{% endblock %}

{% block side-panel %}
    <!-- Name -->
    <div class="mb-3">
        <h4 class="mb-0 d-flex flex-row justify-content-between">
            <span>{{project.name}}</span>
            {% if user == project.owner %}
                <span class="fs-5 fw-normal {% if project.is_public %}text-success{% else %}text-muted{% endif %}">
                    {% if project.is_public %}Public{% else %}Private{% endif %}
                </span>
            {% endif %}
        </h4>
    </div>

    <hr class="mt-0 mb-3 border-secondary">

    {% if user == project.owner %}
        <a href="{% url "project-edit" id=project.id %}" class="w-100 mb-3 btn btn-outline-secondary">Edit</a>
    {% else %}
        <div class="mb-3 p-3 container-fluid border rounded rounded-lg bg-white d-flex flex-row">
            <img
            src="{% if project.owner.profile_img_300x300 %}{{project.owner.profile_img_300x300.url}}{% else %}{% static "assets/profile.png" %}{% endif %}"
            alt="mdo"
            class="me-3 rounded-circle"
            width="64" height="64">
            <div class="d-flex flex-column justify-content-center">
                <a class="text-reset" href="{% url "profile" id=project.owner.id %}">
                    {{project.owner.first_name}} {{project.owner.last_name}}
                </a>
                <div class="text-muted">
                    @{{project.owner.username}}
                </div>
            </div>
        </div>
    {% endif%}

    <!-- Details -->
    <div class="mb-3 p-3 container-fluid border rounded rounded-lg bg-white">
        <h5>Details</h5>
        <div class="mb-0">
            <div class="mb-1 d-flex flex-row justify-content-between">
                <div>Last updated</div>
                <div class="fw-bold text-muted">{{project.last_update_date}}</div>
            </div>
            {% if project.model %}
                <div class="mb-1 d-flex flex-row justify-content-between">
                    <div>Polygons</div>
                    <div class="fw-bold text-muted">{{project.model.face_count}}</div>
                </div>
                <div class="mb-1 d-flex flex-row justify-content-between">
                    <div>Vertices</div>
                    <div class="fw-bold text-muted">{{project.model.vertex_count}}</div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Download options -->
    <div class="p-3 container-fluid border rounded rounded-lg bg-white">
        <h5>Download options</h5>
        {% if project.model and project.model.status == 'completed' %}
            <ul class="mb-0 list-unstyled">
                <li class="d-flex flex-row justify-content-between">
                    <a href="{{project.model.original.url}}">{{project.model.extension}}</a>
                    <div class="fw-bold text-muted">{{project.model.file_size|filesizeformat}}</div>
                </li>
            </ul>
        {% else %}
            <div class="text-muted">No options available</div>
        {% endif %}
    </div>
{% endblock %}

{% block panel %}
    {% if project.model.status == 'completed' %}
        <model-viewer
        class="w-100 h-100"
        shadow-intensity="1"
        src="{{project.model.lowres.url}}"
        auto-rotate
        camera-controls
        poster="">
        </model-viewer>
    {% elif project.model.status == 'in_progress' or project.status == 'in_queue' %}
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center ">
            <div class="text-muted fw-light fs-4">Processing...</div>
        </div>
    {% elif project.model.status == 'empty' or not project.model %}
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center ">
            <div class="text-muted fw-light fs-4">No model</div>
        </div>
    {% else %}
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center ">
            <div class="text-danger fw-light fs-4">Failed to generate</div>
        </div>
    {% endif %}
{% endblock %}
