{% extends "catalog/item-base.html" %}
{% load static %}

{% block tab_title %}Тыква{% endblock %}

{% block side-panel %}
    <!-- Name -->
    <div class="mb-3">
        <h4 class="mb-0">{{project.name}}</h4>
    </div>

    <hr class="mt-0 mb-3 border-secondary">

    {% if user == project.owner %}
        <a href="{% url "project-edit" id=project.id %}" class="w-100 mb-3 btn btn-outline-secondary">Edit</a>
    {% else %}
        <div class="mb-3 p-3 container-fluid border rounded rounded-lg bg-white d-flex flex-row">
            <img
            src="{% static "assets/profile.jpeg" %}"
            alt="mdo"
            class="me-3 rounded-circle"
            width="64" height="64">
            <div class="d-flex flex-column justify-content-center">
                <a class="text-reset" href="{% url "profile" id=project.owner.id %}">
                    {{project.owner.first_name}}
                </a>
                <div class="text-muted">
                    @{{project.owner.username}}
                </div>
            </div>
        </div>
    {% endif%}

    <!-- Details -->
    <!--
    <div class="mb-3 p-3 container-fluid border rounded rounded-lg bg-white">
        <h5>Details</h5>
        <div class="mb-0">
            <div class="mb-1 d-flex flex-row justify-content-between">
                <div>Publish date</div>
                <div class="fw-bold text-muted">03-04-2022</div>
            </div>
            <div class="mb-1 d-flex flex-row justify-content-between">
                <div>Polygons</div>
                <div class="fw-bold text-muted">7502</div>
            </div>
            <div class="mb-1 d-flex flex-row justify-content-between">
                <div>Vertices</div>
                <div class="fw-bold text-muted">7651</div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div>Textures</div>
                <div class="fw-bold text-muted">1</div>
            </div>
        </div>
    </div>
    -->
    <!-- Download options -->
    <div class="p-3 container-fluid border rounded rounded-lg bg-white">
        <h5>Download options</h5>
        {% if project.status == 'completed' %}
            <ul class="mb-0 list-unstyled">
                <li class="d-flex flex-row justify-content-between">
                    <a href="{{project.models_highres.url}}">{{project.model_ext}}</a>
                    {# <div class="fw-bold text-muted">3 Mb</div> #}
                </li>
            </ul>
        {% else %}
            <div class="text-muted">No options available</div>
        {% endif %}
    </div>
{% endblock %}

{% block panel %}
    {% if project.status == 'completed' %}
        <model-viewer
        class="w-100 h-100"
        id="mv-demo"
        shadow-intensity="1"
        src="{{project.models_highres.url}}"
        alt="A 3D model of a pumpkin"
        auto-rotate
        camera-controls
        poster="">
        </model-viewer>
    {% elif project.status == 'in_progress' or project.status == 'in_queue' %}
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center ">
            <div class="text-muted fw-light fs-4">Processing...</div>
        </div>
    {% else %}
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center ">
            <div class="text-danger fw-light fs-4">Error</div>
        </div>
    {% endif %}
{% endblock %}
