{% extends "catalog/item-base.html" %}
{% load static %}

{% block tab_title %}Тыква{% endblock %}

{% block action %}{% url "project-edit" id=project.id %}{% endblock %}

{% block side-panel %}
    {% csrf_token %}
    <!-- Name -->
    <div class="mb-3">
        <input type="text" name="name" class="form-control form-control-lg" placeholder="Project name" value="{{project.name}}">
    </div>

    <hr class="mt-0 mb-3 border-secondary">

    <div class="mb-3 col-auto form-check form-switch fs-4">
        <label class="form-check-label fw-light" style="pointer-events: none; user-select: none;" for="public-switch">Make public</label>
        <input class="form-check-input" style="cursor: pointer;" type="checkbox" name="public" role="switch" id="public-switch" {% if project.is_public %}checked{% endif %}>
    </div>

    <div class="mb-3 col-auto d-flex flex-row">
        <button type="submit" class="w-100 btn btn-success me-2">Save</button>
    </div>

    <!-- Details -->
    <!--
    <div class="mb-3 p-3 container-fluid border rounded rounded-lg bg-white">
        <h5>Details</h5>
        <div class="mb-0">
            <div class="mb-1 d-flex flex-row justify-content-between">
                <div>Publish date</div>
                <div class="fw-bold text-muted">03-04-2022</div>
            </div>
            <div class="mb-1 d-flex flex-row justify-content-between">
                <div>Polygons</div>
                <div class="fw-bold text-muted">7502</div>
            </div>
            <div class="mb-1 d-flex flex-row justify-content-between">
                <div>Vertices</div>
                <div class="fw-bold text-muted">7651</div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div>Textures</div>
                <div class="fw-bold text-muted">1</div>
            </div>
        </div>
    </div>
    -->

    <!-- Download options -->
    {% if project.status == 'completed' %}
        <div class="mb-3 p-3 container-fluid border rounded rounded-lg bg-white">
            <h5>Download options</h5>
            {% if project.status == 'completed' %}
                <ul class="mb-0 list-unstyled">
                    <li class="d-flex flex-row justify-content-between">
                        <a href="{{project.models_highres.url}}">{{project.model_ext}}</a>
                        {# <div class="fw-bold text-muted">3 Mb</div> #}
                    </li>
                </ul>
            {% else %}
                <div class="text-muted">No options available</div>
            {% endif %}
        </div>
    {% endif %}

    <button type="submit" name="delete" value="1" class="w-100 btn btn-light-danger">
        Delete project
    </button>
{% endblock %}

{% block panel %}
    <div class="px-5 py-4 pt-3">
        <nav>
            <div class="nav nav-pills mb-4 justify-content-center" id="nav-tab" role="tablist">
                <button
                class="nav-link me-2 active"
                id="nav-gen-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-gen"
                type="button"
                role="tab"
                aria-controls="nav-gen"
                aria-selected="true">
                    Generate from images
                </button>
                <!--
                <button
                class="nav-link"
                id="nav-upload-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-upload"
                type="button"
                role="tab"
                aria-controls="nav-upload"
                aria-selected="false"
                tabindex="-1">
                    Upload 3D model
                </button>
                -->
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div
            class="tab-pane fade active show"
            id="nav-gen"
            role="tabpanel"
            aria-labelledby="nav-gen-tab">
                <h4 class="fw-normal mb-3">Upload images</h4>
                <input type="file" name="images" class="form-control" multiple accept="image/*">
            </div>
            <!--
            <div
            class="tab-pane fade"
            id="nav-upload"
            role="tabpanel"
            aria-labelledby="nav-upload-tab">
                <h4 class="fw-normal mb-3">Upload 3D model</h4>
                <input type="file" name="model" class="form-control" accept=".obj,.glb">
            </div>
            -->
        </div>
    </div>
{% endblock %}
