{% extends "theme/base.html" %}
{% load static %}

{% block article-body %}
    <div class="row flex-lg-row-reverse g-5">

        <!-- Description -->
        <div class="col-lg-4 d-flex flex-column">
            {% block side-panel %}{% endblock %}
        </div>

        <!-- Preview -->
        <div class="col-lg-8 p-0 border rounded overflow-hidden bg-white" style="min-height: 350px;">
            {% block panel %}{% endblock %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static "js/model-viewer.min.js" %}"></script>
{% endblock %}
