{% extends "theme/base.html" %}
{% load static %}

{% block tab_title %}Тыква{% endblock %}

{% block article-body %}
    <div class="row flex-lg-row-reverse g-5">

        <!-- Description -->
        <div class="col-lg-4 d-flex flex-column">
            <!-- Name -->
            <div class="mb-3">
                <h4 class="mb-0">Тыква</h4>
            </div>

            <hr class="mt-0 mb-3 border-secondary">

            <div class="mb-3 col-auto d-flex flex-row">
                {% if 0 %} {# "if user == item.owner" #}
                    <!-- Edit & Make public -->
                    <button class="btn btn-primary me-2">Edit</button>
                    <button class="btn btn-outline-primary">Make public</button>
                {% else %}
                    <!-- Creator -->
                    <img
                    src="{% static "assets/profile.jpeg" %}"
                    alt="mdo"
                    class="me-2 rounded-circle"
                    width="64" height="64">
                    <div class="flex-grow-1 d-flex flex-column justify-content-center">
                        <div class="">
                            Creator
                        </div>
                        <div class="text-muted">
                            ...
                        </div>
                    </div>
                {% endif%}
            </div>

            <!-- Details -->
            <div class="mb-3 p-3 container-fluid border rounded rounded-lg">
                <h5>Details</h5>
                <div class="mb-0">
                    <div class="mb-1 d-flex flex-row justify-content-between">
                        <div>Publish date</div>
                        <div class="fw-bold text-muted">03-04-2022</div>
                    </div>
                    <div class="mb-1 d-flex flex-row justify-content-between">
                        <div>Polygons</div>
                        <div class="fw-bold text-muted">7502</div>
                    </div>
                    <div class="mb-1 d-flex flex-row justify-content-between">
                        <div>Vertices</div>
                        <div class="fw-bold text-muted">7651</div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div>Textures</div>
                        <div class="fw-bold text-muted">1</div>
                    </div>
                </div>
            </div>
            <!-- Download options -->
            <div class="p-3 container-fluid border rounded rounded-lg">
                <h5>Download options</h5>
                <ul class="mb-0 list-unstyled">
                    <li class="d-flex flex-row justify-content-between">
                        <a href="#">.obj</a>
                        <div class="fw-bold text-muted">3 Mb</div>
                    </li>
                    <li class="d-flex flex-row justify-content-between">
                        <a href="#">.mdl</a>
                        <div class="fw-bold text-muted">3.5 Mb</div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Preview -->
        <div class="col-lg-8 p-0 border" style="min-height: 350px;">
            <model-viewer
            class="w-100 h-100"
            id="mv-demo"
            shadow-intensity="1"
            src="{% static "assets/pumpkin.glb" %}"
            alt="A 3D model of a pumpkin"
            auto-rotate
            camera-controls
            poster="">
            </model-viewer>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
{% endblock %}
