{% extends "theme/base.html" %}
{% load static %}

{% block tab_title %}My projects{% endblock %}

{% block fullwidth-body %}
    <!-- Search -->
    <div class="container-fluid px-5 pt-4 pb-3 bg-white">
        <h1 class="display-6 fw-semibold lh-1 mb-4 text-center">
            My Projects
        </h1>

        <form class="d-flex flex-column align-items-center">
            <input class="mb-3 form-control" type="text" placeholder="Search..." style="max-width: 550px;">
            <div class="d-flex flex-row">
                <button class="me-2 btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Order by
                </button>
                <ul class="dropdown-menu" style="">
                    <li><a class="dropdown-item" href="#">Date published</a></li>
                </ul>
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Type
                </button>
                <ul class="dropdown-menu" style="">
                    <li><a class="dropdown-item" href="#">Generated</a></li>
                    <li><a class="dropdown-item" href="#">Uploaded</a></li>
                </ul>
            </div>
        </form>
    </div>

    <!-- Project list -->
    <div class="mx-lg-5 px-5 py-4 d-flex flex-column">
        <div class="mb-3 mx-auto">
            <a href="{% url "edit" %}" class="btn btn-light btn-lg">Create new</a>
        </div>
        <div class="mb-3">{% include "catalog/components/projects-item-card.html" with name="Тыква" generated=1 public=1 %}</div>
        <div class="mb-3">{% include "catalog/components/projects-item-card.html" with name="Тыква" generated=1 %}</div>
        <div class="mb-3">{% include "catalog/components/projects-item-card.html" with name="Тыква" %}</div>
    </div>
{% endblock %}
