
.bg-gray-dark {
    background-color: var(--bs-gray-dark);
}

.btn-light-danger {
    border: none;
    font-weight: 500;
    color: var(--bs-danger);
}

.btn-light-danger:hover {
    color: white;
    background-color: var(--bs-danger);
}

.btn-light-danger:active {
    border: none;
    color: white !important;
    background-color: var(--bs-danger) !important;
}

.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.my-link {
    text-decoration: none !important;
}

.my-link:hover {
    text-decoration: underline !important;
}

.pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}
